.top-picks-container {
  display: flex;
  justify-content: space-between;
  max-width: 98%;
  margin: 0 auto;
  padding: 30px 10px;
  align-items: flex-start;
}

.gold-stamp {
  width: 40%;
  height: auto;
}

.top-picks {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  padding-bottom: 80px;
}

.pick {
  margin-bottom: 20px;
}

.pick p {
  display: inline;
  margin-right: 0px;
  color: #b7c8b5;
  padding-right: 0;
  padding-left: 10px;
}

.pick .orange {
  color: #fe9000;
}

@media screen and (max-width: 768px) {
  .top-picks-container {
    flex-direction: column;
    align-items: center;
  }

  .gold-stamp {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 40px;
  }
}
